python-telegram-bot>=21.0
langchain>=0.2.0
langchain-openai>=0.1.0
langchain-google-genai>=1.0.0
requests>=2.31.0
python-dotenv>=1.0.1
fastapi
uvicorn
httpx
langgraph
langchain-groq
langchain-mcp-adapters
mcp
tenacity
streamlit>=1.30.0
